/*Overall*/

html, body {
    height: 100%;
}

body {
    text-align: center;
    font-size: 3vh;
    background-color: #ffce5c;
    color: #fff;
    min-height: 100%;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    width: 60%;
    margin: auto;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        ". h ."
        ". c ."
        ". s ."
        ". l ."
        ". f .";
    justify-content: center;
    align-items: center;
}

h1 { 
  font-family: "Texta", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.signup {
    grid-area: s;
}

.login {
    grid-area: l;
}

.footer {
    grid-area: f;
}

/*Buttons*/

.landing {
    display: block;
    padding: 2% 4%;
    font-family: sans-serif;
    font-size: 4vw;
    margin: auto;
    border-radius: 20px;
    background-color: #FF7F11;
    color: #fff;
    border: 0px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 3vh;
    background: #FF7F11;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 20px 10px 20px;
    margin-top: 3%;
    }

.landing:hover {
  background: #ff4b45;
}

button:focus {
    outline: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

/*Footer*/

footer {
    margin-top: 8%;
    font-size: 2vw;
    font-style: italic;
    padding-bottom: 4%;
}
